/* theme colors */
$pols-white: #FFFFFF;
$pols-blue: #199DDF;
$pols-dark-blue: #164290;


/* backgrounds */
$pols-white-background: $pols-white;
$pols-blue-background-gradient: linear-gradient(180deg, #1791D5 0%, #1BA7E7 100%);
$pols-blue-background: $pols-blue;
$pols-light-blue: #f4f2fd;
$pols-yellow: #F9BF30;
$pols-light-yellow: rgba(249, 191, 48, 0.2);
$pols-orange: #FD621B;
$pols-orange-with-opacity: rgba(253, 98, 27, 0.7);
$pols-green: #31AB3F;
$pols-light-green: #9DA921;
$pols-light-red: #FFEAE9;
$pols-red: #FB5951;
$pols-white: #FFFFFF;
$pols-dark-black: #000000;
$pols-black: #282828;
$pols-black-half: rgba(40, 40, 40, 0.5);
$pols-light-black: #333333;
$pols-dark-grey: #ABABAB;
$pols-very-dark-grey: #707070;
$pols-grey-light-dark: #9192A7;
$pols-grey: #77889d;
$pols-light-grey: #a6afba;
$pols-blue: #3994f3;
$pols-light-blue: #f4f2fd;
$pols-purple: #7073DE;

/* texts */
$pols-text-white-color: $pols-white;
$pols-text-blue-color: $pols-blue;
$pols-text-black-color: $pols-dark-black;
$pols-text-light-black-color: $pols-black;
$pols-text-primary-color: #0e124b;
$pols-text-secondary-color: #4a4d6d;
$pols-text-grey-color: #9192a6;
$pols-input-grey-color: #AEB9D3;



/* Buttons */
$pols-btn-primary-color: $pols-white;
