@import "../../assets/scss/pols_variables";

.pols-paginator-page {
  width: 42px;
  height: 42px;
  padding-top: 8px;
  vertical-align: middle;
}

.pols-paginator-page:hover {
  background-color: $pols-light-blue;
  border-radius: 50%;
  padding-top: 8px;
  cursor: pointer;
}

.pols-paginator-page-selected {
  width: 42px;
  height: 42px;
  background-color: $pols-orange;
  color: $pols-white;
  font-family: "Roboto-Medium" !important;
  border-radius: 50%;
  padding-top: 7px;
}

.pols-paginator-btn-icon {
  margin-left: 15px;
  margin-top: -4px;
}

.pols-paginator-btn-icon-forward {
  margin-left: 18px;
}